---
import Link from "@/components/custom-ui/Link";

interface Props {
  className?: string;
  imgClassName?: string;
}

const { className, imgClassName } = Astro.props;
---

<Link
  id="logo"
  uri="https://app.ara.foundation/"
  asNewTab={true}
  className={" flex flex-start h-14 items-center " + (className || "")}
>
  <div
    class={`w-8 h-8 bg-transparent rounded flex items-center justify-center relative ${imgClassName}`}
  >
    <img
      src="/ara_logo.png"
      id="logoImg"
      alt="Ara Logo"
      class="w-full h-full absolute inset-0"
      loading="eager"
      fetchpriority="high"
      decoding="async"
    />
    <img
      src="/ara_logo_hover.png"
      id="hoveredLogoImg"
      alt="Ara Logo"
      class="w-full h-full absolute inset-0"
      loading="lazy"
      decoding="async"
    />
  </div>
</Link>
<style>
  :global(.hyperlink) #logoImg {
    display: block;
  }
  :global(.hyperlink) #hoveredLogoImg {
    display: none;
  }
  :global(.hyperlink) #logoSubtitle {
    display: block;
    transition: font-size 0.1s ease-out;
  }

  :global(.hyperlink):hover #logoSubtitle {
    opacity: 0.4;
    font-size: 0.65rem;
  }

  :global(.hyperlink):hover #logoImg {
    display: none;
  }

  :global(.hyperlink):hover #hoveredLogoImg {
    display: block;
  }
</style>
