---
import Layout from "@/layouts/PanelViewLayout.astro";
import { ItemName } from "@/components/utilitified_decorations/LandingNavbar.astro";
import PageLikePanel from "@/components/panel/PageLikePanel";
import { getIcon, IconType } from "@/components/icon";
import type { RoleCardProps } from "@/components/profile/RolePanel";
import RowGrid from "@/components/grid/RowGrid";
import RolePanel from "@/components/profile/RolePanel";
import InfoPanel from "@/components/panel/InfoPanel";
import Link from "@/components/custom-ui/Link";
import ReactComponentImporter from "@/components/ReactComponentImporter";

const roles: RoleCardProps[] = [
  {
    roleCard: true,
    id: "maintainer",
    title: "Maintainer",
    description: "You maintain a project?\nAdd your project.",
    buttonText: "Add Project",
    buttonVariant: "primary" as const,
    href: "/data/project/post",
    helpLinkLabel:
      "Learn more about maintainer's features such as no-burnout management and socializing...",
    helpLinkHref: "/",
    iconBgColor: "bg-red-50",
    iconColor: "text-blue-600",
    icon: "maintainer",
    avatar: "https://dummyimage.com/120x120/f0f0f0/666666?text=Maintainer",
  },
  {
    roleCard: true,
    id: "contributor",
    title: "Contributor",
    href: "/data/projects",
    description: "Discover projects and earn rating",
    buttonText: "All Projects",
    buttonVariant: "secondary" as const,
    helpLinkLabel: "Why to contribute projects on Ara?",
    helpLinkHref: "/meta/contributor",
    iconBgColor: "bg-blue-50",
    iconColor: "text-blue-600",
    icon: "contributor",
    avatar: "https://dummyimage.com/120x120/f0f0f0/666666?text=Contributor",
  },
  {
    roleCard: true,
    id: "influencer",
    title: "Influencer",
    href: "/data/projects",
    description: "Donate, obtain Voting Power and Connect",
    buttonText: "All Projects",
    buttonVariant: "secondary" as const,
    helpLinkLabel: "Why to donate on projects and be an influencer?",
    helpLinkHref: "/meta/influencer",
    iconBgColor: "bg-blue-50",
    iconColor: "text-blue-600",
    icon: "influencer",
    avatar: "https://dummyimage.com/120x120/f0f0f0/666666?text=Influencer",
  },
];
---

<Layout hideLinks={Object.values(ItemName)} subtitle="Choose your role">
  <PageLikePanel
    slot="center"
    title="Choose Role"
    titleCenter={true}
    className="bg-cyan-50 border-cyan-100"
  >
    <div class="text-center space-y-6 mt-14">
      <p class="text-center mb-4 -mt-4">What role fits you the best?</p>
      <RowGrid cols={3}>
        {roles.map((role) => <RolePanel {...role} />)}
      </RowGrid>
    </div>
  </PageLikePanel>
  <InfoPanel slot="right" title="Links" icon="info">
    <ul>
      {
        roles
          .filter(
            (role) =>
              role.helpLinkLabel !== undefined &&
              role.helpLinkHref !== undefined,
          )
          .map((role) => (
            <li class="flex items-start">
              <div class="w-4 h-4 mt-1.5 -ml-2 mr-1">
                <ReactComponentImporter
                  element={getIcon((role.icon as IconType) || "info")}
                />
              </div>
              <Link className="pt-0" uri={role.helpLinkHref!}>
                {role.helpLinkLabel}
              </Link>
            </li>
          ))
      }
    </ul>
  </InfoPanel>
</Layout>
