# generated types
.astro/

# dependencies
node_modules/

# logs
*.log

# deployment
.vercel/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vscode/
.idea/
.cursor/
src/stories/
storybook-static
.storybook

