---
import V2Layout from "@/layouts/PanelViewLayout.astro";
import { MenuName } from "@/components/navbar/WorkNavbar.astro";

import ProjectPostFlow from "@/components/project/ProjectPostingStepper";
import NotificationBanner from "@/components/NotificationBanner";
import InfoPanel from "@/components/panel/InfoPanel";
import Link from "@/components/custom-ui/Link";
import { getIcon } from "@/components/icon";

// Project ID + Not Yet Created + Fork Project means issue is created for the
// original project forked by project ID.
const projectId = Astro.url.searchParams.get("projectId") || undefined;
const forkProjectId = Astro.url.searchParams.get("forkProjectId") || undefined;
const createdIssueId =
        Astro.url.searchParams.get("createdIssueId") || undefined;
---

<V2Layout hideLinks={[MenuName.ProjectName]}>
        <NotificationBanner
                slot="center"
                icon="project"
                type="info"
                title="Your first project"
        >
                <p class="text-gray-600">
                        You just signed up, and choose to be a maintainer.
                        Adding the project is the first step in the Ara.
                </p>
        </NotificationBanner>
        {
                forkProjectId && (
                        <NotificationBanner
                                type={"warning"}
                                title={"Issue why you fork"}
                                icon="warning"
                        >
                                Select or create a new issue. In Ara, we
                                link the projects between each other via issues
                                in order to make them discoverable and self
                                structurized.
                        </NotificationBanner>
                )
        }
        <ProjectPostFlow
                projectId={projectId}
                forkProjectId={forkProjectId}
                createdIssueId={createdIssueId}
                slot="center"
                client:load
        />
        <InfoPanel
                slot="right"
                title="Different Git Hosting Server?"
                icon="info"
                actions={[
                        {
                                children: '"Ara" Influencer',
                                uri: "/inlfuencer/project",
                        },
                ]}
        >
                <p>Other git hosting servers are on the roadmap.</p>
                <p>
                        Obtain Voting Power, upvote the
                        <Link
                                href="/data/issue"
                                className="text-blue-600 hover:text-blue-800 underline"
                                >"Multiple Git Hostings" issue</Link
                        > and get rating.
                </p>
        </InfoPanel>
        <InfoPanel slot="right" title="Uses blockchain" icon="question">
                <p>
                        The 20% of all donations to your project will be
                        distributed to the Libraries, packages in your projects
                        via <Link
                                asNewTab={true}
                                href="https://www.hyperpayment.org/specification/opensource-hyperpayment-specification"
                                className="text-blue-600 hover:text-blue-800 underline"
                                >"Opensource Hyperpayment"</Link
                        >technology. Hyperpayment implemented on the blockchain,
                        which ensures ripple effect of the money.
                </p>
        </InfoPanel>
</V2Layout>
