---
import V2Layout from "@/layouts/PanelViewLayout.astro";

import PageLikePanel from "@/components/panel/PageLikePanel";
import Link from "@/components/custom-ui/Link";
import InfoPanel from "@/components/panel/InfoPanel";
---

<V2Layout>
  <PageLikePanel
    slot="center"
    title="Login"
    titleCenter={true}
    className="bg-cyan-50 border-cyan-100"
  >
    <div class="text-center space-y-6 mt-14 h-25">
      <Link
        uri="/login/callback"
        className="inline-flex items-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-colors"
        >Sign in with GitHub</Link
      >
      <p class="text-sm text-gray-500 mt-4 -mb-4">
        By signing in, you agree to our{" "}
        <Link
          uri="/meta/policy"
          className="text-blue-600 hover:text-blue-800"
          asNewTab={true}
        >
          Privacy Policy
        </Link>
      </p>
    </div>
  </PageLikePanel>
  <InfoPanel
    slot="right"
    title="Don't want GitHub?"
    icon="info"
    actions={[
      {
        children: '"CascadeFund" Influencer',
        uri: "/inlfuencer/project",
      },
    ]}
  >
    <p>Other authentication providers are on the roadmap.</p>
    <p>
      Obtain Voting Power, upvote the
      <Link
        uri="/data/issue"
        className="text-blue-600 hover:text-blue-800 underline"
        >"multi-auth" issue</Link
      > and get rating.
    </p>
  </InfoPanel>
</V2Layout>
