---
import PanelViewLayout from "@/layouts/PanelViewLayout.astro";
import PageLikePanel from "@/components/panel/PageLikePanel";
import Link from "@/components/custom-ui/Link";
import { MenuName } from "@/components/navbar/WorkNavbar.astro";

return Astro.redirect("/all-stars");
---

<PanelViewLayout hideLinks={Object.keys(MenuName)} hideAuth={true}>
  <PageLikePanel slot="center" title="Welcome to Ara" titleCenter={true}>
    <div class="text-center space-y-2 mt-8">
      <Link
        uri="/login/callback"
        className="inline-flex items-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-colors"
      >
        Start</Link
      >
      <p class="text-sm">
        Demo version! Your account will be created automatically for a session.
      </p>
      <!-- <Link
        uri="/login/callback"
        className="inline-flex items-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-colors"
        >Sign in</Link
      > -->
      <!-- <p class="text-sm mt-4">
        By signing in, you agree to our{" "}
        <Link
          uri="/meta/policy"
          className="text-blue-600 hover:text-blue-800"
          asNewTab={true}
        >
          Privacy Policy
        </Link>
      </p> -->
    </div>
  </PageLikePanel>

  <!-- <InfoPanel
    slot="right"
    title="Don't want GitHub?"
    icon="info"
    actions={[
      {
        children: '"Ara" Influencer',
        uri: "/inlfuencer/project",
      },
    ]}
  >
    <p>Other authentication providers are on the roadmap.</p>
    <p>
      Obtain Voting Power, upvote the
      <Link uri="/data/issue" className="underline">"multi-auth" issue</Link> and
      get rating.
    </p>
  </InfoPanel> -->
</PanelViewLayout>
