---
export const prerender = true;

import V2Layout from "@/layouts/LandingLayout.astro";
import HeroSection from '@/layouts/sections/HeroSection.astro'
import QuestTable from '@/components/QuestTable'
import RowGrid from "@/components/grid/RowGrid";
import PageLikePanel from '@/components/panel/PageLikePanel'
import { getIcon } from "@/components/icon";
import ReactComponentImporter from "@/components/ReactComponentImporter";
import TaskPanel from "@/components/TaskPanel";

const quests = [{
  title: "Communication Quests",
    description: "Got idea about new quest tasks? Add a new issue and be an Ara influencer",
  buttonText: "Add an issue",
  buttonVariant: "primary",
},
{
  title: "Design the Tasks",
    description: "Want to help to make Ara successful? Follow for updates. If others raise issue, help to improve and receive the rating.",
  buttonText: "",
  buttonVariant: "secondary",
}]

---
<V2Layout subtitle="Quest Tasks and their affects">
  <HeroSection 
    title={"Ara – Quest Task List"}
    subtitle="Ara is a quest based social network for the open-source communities. We as Ara prioritize the transparency. Every quest (task) is public, trackable — so maintainers, contributors and influencers could verify and check how the rating of the project was presented."
  >
  <RowGrid cols={3}>
    {quests.map((quest) => 
      <PageLikePanel title={quest.title} className="bg-white bg-opacity-10 text-gray-900 rounded-lg p-6 shadow-sm border border-gray-200 relative"
        actions={[
          {variant: quest.buttonVariant, children: quest.buttonText}
        ]}
      >
        <div class="absolute top-2 left-2 w-10 h-10 bg-purple-100 rounded-full flex items-center justify-center mr-3">
          <ReactComponentImporter element={getIcon(quest.title)}) />
        </div>
        <p class="text-gray-600 text-sm mb-6">{quest.description}</p>
      </PageLikePanel>
    )}
    <TaskPanel
          title="Tasks in Ara"
          author="Medel Ahuasson"
          description="List of tasks and their categories"
          date="Oct 5, 2023"
          stats="1/3"
          likes="3 likes"
          followers="Follow"
          rating="18 of 20"
    />
    </RowGrid>
  </HeroSection>
  <QuestTable />
</V2Layout>