---
import MenuItem, { MenuItemProps } from "../menu/MenuItem";

export enum MenuName {
  ProjectList = "ProjectList",
  ProjectName = "ProjectName",
}

interface Props {
  tabIndex?: any;
  active?: MenuName;
  hideLinks?: MenuName[];
  className?: string;
  vertical?: boolean;
  additional?: MenuItemProps[];
}

const { tabIndex, vertical, active, hideLinks, className, additional } =
  Astro.props;

const isItemShown = (item: MenuName): boolean => {
  return (
    active !== item &&
    (hideLinks === undefined || hideLinks.findIndex((el) => el === item) == -1)
  );
};
---

<nav
  class={` ${className || ""} z-999! ${vertical ? "shadow-lg w-40" : "w-full"}`}
  tabindex={tabIndex}
>
  <slot />
  <div class={vertical ? "text-sm " : "breadcrumbs text-sm"}>
    <ul class={vertical ? "flex flex-col " : "w-full justify-center"}>
      {
        additional?.map((item) => (
          <li>
            <MenuItem {...item} />
          </li>
        ))
      }
      {
        isItemShown(MenuName.ProjectList) && (
          <li class="">
            <MenuItem
              icon={"project-info"}
              label="Projects"
              uri="/data/projects"
              active={active === MenuName.ProjectList}
              badges={[
                {
                  children: "2",
                  variant: "blue",
                  active: active === MenuName.ProjectList,
                },
                {
                  children: "2",
                  variant: "red",
                  active: active === MenuName.ProjectList,
                },
              ]}
            >
              Projects
            </MenuItem>
          </li>
        )
      }
      {
        isItemShown(MenuName.ProjectName) && (
          <li>
            <MenuItem
              icon={"project-info"}
              label="Reflect"
              uri="/data/project"
              active={active === MenuName.ProjectName}
            >
              Reflect
            </MenuItem>
          </li>
        )
      }
    </ul>
  </div>
</nav>
