---
import V2Layout from "@/layouts/PanelViewLayout.astro";

import InfoPanel from "@/components/panel/InfoPanel";
import Votes from "@/components/project/VotedIssueListPanel";
import BackButton from "@/components/custom-ui/BackButton";
import NotificationBanner from "@/components/NotificationBanner";
---

<V2Layout>
  <BackButton slot="left" />
  <NotificationBanner
    slot="center"
    icon="email"
    title="You completed the quest"
    type="success"
  >
    You are now following these projects and will receive notification once the
    maintainer or contributor replies. The maintainers of the project received
    the quest, expect the reply within the upcoming hours/days.
  </NotificationBanner>

  <NotificationBanner
    slot="center"
    icon="star"
    title="Potentially earning +2.0 rating"
    type="warning"
  >
    You are now following these projects and will receive notification once the
    maintainer or contributor replies. The maintainers of the project received
    the quest, expect the reply within the upcoming hours/days.
  </NotificationBanner>

  <Votes slot="center" />
  <InfoPanel
    slot="right"
    slot="right"
    title="Became Ara influencer"
    icon="info"
    actions={[
      {
        children: '"Ara" Influencer',
        uri: "/inlfuencer/project",
      },
    ]}
  >
    <p>
      Have some questions or requests about Ara? Become our influencer
      as well.
    </p>
    <p>
      Obtain Voting Power. Make Ara better for users by creating or
      upvoting the issues. Get rating.
    </p>
  </InfoPanel>
</V2Layout>
