---
import V2Layout from "@/layouts/PanelViewLayout.astro";
import MainMenu from "@/components/menu/MenuPanel";

import TransactionTable from "@/components/influencer/TransactionTable";
import { mockTransactions } from "@/data/mock-data";
---

<V2Layout>
  <MainMenu slot="left" activeMenuItem="ihistory" client:load />
  <div class="max-w-full" slot="center">
    <TransactionTable
      transactions={mockTransactions}
      currentPage={1}
      totalPages={3}
      onPageChange={console.log}
    />
  </div>
</V2Layout>
