---
import { ClientRouter } from "astro:transitions";
import "@/styles/motion.css";
import Captcha from "@/components/captcha.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/ara_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://challenges.cloudflare.com" />
    <title>Ara</title>

    <ClientRouter />
  </head>
  <body
    class="min-h-screen bg-neutral-200 dark:bg-gray-900 transition-colors duration-300"
  >
    <Captcha client:load />
    <slot />
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-953VZH2RB6"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-953VZH2RB6");
    </script>
  </body>
</html>
