---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import "@/styles/motion.css";
import Header from "@/components/utilitified_decorations/Header.astro";
import Footer from "@/components/utilitified_decorations/Footer.astro";
import ThreeColumnGrid from "@/components/grid/ThreeColumnGrid.astro";
import GridBackgrounded from "./GridBackgrounded";
import { MenuItemProps } from "@/components/menu/MenuItem";

interface Props {
  subtitle?: string;
  active?: string;
  hideLinks?: string[];
  additional?: MenuItemProps[];
}
const { subtitle, hideLinks, additional } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/cascadefund_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>CascadeFund</title>
    <style is:global>
      @import "@chatscope/chat-ui-kit-styles/dist/default/styles.min.css";
    </style>
    <ClientRouter />
  </head>
  <body class="min-h-screen bg-gray-200">
    <GridBackgrounded />
    <div class="z-1 relative">
      <Header hideLinks={hideLinks} additional={additional}>
        <slot name="header-navbar" />
      </Header>
      <section class="mt-6">
        <slot name="hero" />
      </section>
      <ThreeColumnGrid className="mx-auto py-8 space-x-4 px-4 mt-6">
        <slot name="left" class="mr-4" slot="left" />
        <slot name="center" class="mx-4" slot="center" />
        <slot name="right" class="ml-4" slot="right" />
      </ThreeColumnGrid>
      <Footer />
    </div>
  </body>
</html>
